#home {
    &__a {
        margin-top: 11rem;

        .container {
            padding: 3rem 2rem;
            max-width: 100%;

            .disney__content {
                display: flex;
                flex-direction: column;
                gap: 1rem;

            }
        }
    }

    &__b {
        .container {
            padding: 3rem 2rem;
            max-width: 100%;

            .disney__info {
                .section-title {
                    font-size: 22px;
                }

                display: grid;
                grid-template-columns: 1fr;
                row-gap: 0.5rem;

                &-item {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        li {
                            &:nth-child(2) {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    &__c {
        .container {
            padding: 3rem 2rem;
            max-width: 100%;

            .accordion {
                &-item {
                    background-color: $dark-color;
                    margin-bottom: 1rem;
                }

                &-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    color: $white-color;
                    padding: 1rem 1.5rem;


                    &::after {
                        content: "+";
                        display: block;
                        font-size: 2.5rem;

                    }
                }

                &-input {
                    display: none;
                    transition: height 5s ease;

                    &:checked {
                        &+label {
                            &::after {
                                content: "-";
                            }

                            &+.accordion-body {
                                height: max-content;
                            }
                        }
                    }
                }

                &-body {
                    height: 0;
                    overflow: hidden;
                    transition: max-height .5s ease;
                    padding: 0 1.5rem;

                    ul {
                        list-style: disc;
                        padding: 0 2rem;
                    }

                    ol {
                        padding: 0 2rem;

                        li {
                            padding: 0.5rem 0;
                        }
                    }
                }
            }
        }
    }

    &__d {
        .container {
            padding: 3rem 2rem;

            .disney__devices {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 1rem;

                div {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: .5rem;

                        li {
                            &:nth-child(2) {
                                color: #fff;
                            }

                            &:nth-child(3) {
                                padding: 0 3rem;
                            }
                        }
                    }

                    &:nth-child(3) {
                        ul {
                            li {
                                &:nth-child(3) {
                                    padding: 0 2rem;
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}