.container {
    max-width: $max-width-sm;
    margin: auto;
}

// Buttons
%btn-shared {
    display: inline-block;
    color: $white-color;
    padding: 0.5rem;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    transition: .5s ease;
    cursor: pointer;

}

.btn {
    &-primary {
        @extend %btn-shared;
        background-color: $primary-color;
        border-color: $primary-color;


        &:hover {
            background-color: lighten($primary-color, 5%);

        }
    }

    &-secondary {
        @extend %btn-shared;
        background-color: rgba($secondary-color, 0.8);
        border-color: $light-color;

        &:hover {
            background-color: $white-color;
            color: $secondary-color;

        }
    }
}

// Background

.bg {
    &-primary {
        background-color: $primary-color;
    }

    &-secondary {
        background-color: $secondary-color;
    }
}

// Margin
.m {
    &-1 {
        margin: 1rem;

    }

    &-2 {
        margin: 2rem;

    }
}

.my {
    &-1 {
        margin: 1rem 0;
    }

    &-2 {
        margin: 2rem 0;
    }

    &-3 {
        margin: 3rem 0;
    }
}

.mx {
    &-1 {
        margin: 0 1rem;
    }

    &-2 {
        margin: 0 2rem;
    }

    &-3 {
        margin: 0 3rem;
    }
}



// Section Title
.section-title {
    color: $white-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: center;
}

// Paragraph
.lead {
    margin-bottom: 20px;
}

// Text-Center
.text-center {
    text-align: center;
}

.text-small {
    font-size: 11px;
    line-height: 21px;
}