$primary-color: #0063e5;
$secondary-color: #040714;
$dark-color: #13151d;
$medium-color: #31343e;
$light-color: #c0c0c0;
$white-color: #f9f9f9;
$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;
$max-width-xxl: 1320px;
$bg-1: url("../img/bg1-sm.jpg");
$bg-2: url("../img/bg1-md.jpg");
$bg-3: url("../img/bg1-lg.jpg");